.output1 {
  margin: 20px;
  font-size: larger;
  border-radius: 10px;
  border: solid;
}
center {
  margin-top: 5px;
}
center button {
  margin-left: 10px;
  font-weight: 600;
  background-color: #3f3160;
  color: azure;
}
.table {
  text-align: center;
  font-size: 20px;
  /* margin-left: 590px; */
  margin-top: 15px;
  table-layout: fixed;
}
th,
tr,
table,
td {
  border: 3px solid black;
  border-collapse: collapse;
  /* padding: 5px; */
  width: 100%;
}
.title {
  background-color: aqua;
  text-align: center;
  margin: 20px;
  border: rgb(0, 0, 0) solid;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #3f3160;
  color: antiquewhite;
  border-radius: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
